    <section class="containDivs">
		<!--<span ng-init="IsLoggedIn()"></span>-->
		<!-- Intro Section -->
		<section id="intro" class="content-section center border">
			<div class="whitesmokeText">
				<h1 id="header-home"><b>Welcome, </b>{{currUser.id}}</h1>
			</div>
			<div layout="column" class="whitesmokeText">			
				<accordion close-others="oneAtATime" class="burlywood-background">
					<accordion-group is-open="getStatus('s')" heading="Select a Language" panel-class="panel-alert" layout-align="center center">
						<accordion-heading>
							<md-toolbar class="burlywood-background" ng-click="setStatus('s')">
								<div class="md-toolbar-tools" layout-align="center center">
									<h2 class="md-flex"><b><i class="fa" ng-class="arrowRightDirection(statusStarting.open)"></i>Select Language<i class="fa" ng-class="arrowLeftDirection(statusStarting.open)"></i></b></h2>
								</div>
							</md-toolbar>
						</accordion-heading>
						<section>
							<div layout="row">
								<div flex style="height: 200px !important; overflow-x: scroll; overflow-y: scroll;">
									<div flex layout="column">
										<div flex layout="row" class="center" style="width: 700px; padding: 2px;">
											<div flex class="test" ng-class="borderOrNoBorder('s', 0)" ng-click="setSelectedLanguage('s', 0)" title="Java">
												<a href="" ui-sref="home">
													<span id="logoForJava" class="center" title="Java"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('s', 1)" ng-click="setSelectedLanguage('s', 1)" title="Python">
												<a href="" ui-sref="home">
													<span id="logoForPython" class="center" title="Python"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('s', 2)" ng-click="setSelectedLanguage('s', 2)" title="MathML">
												<a href="" ui-sref="home">
													<span id="logoForMathML" class="center" title="MathML"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('s', 3)" ng-click="setSelectedLanguage('s', 3)" title="Regular Math">
												<a href="" ui-sref="home">
													<span id="logoForRegMath" class="center" title="Regular Math"></span>
												</a>
											</div>
										</div>
										<div flex layout="row" class="center" style="width: 700px; padding: 2px;">
											<div flex class="test" ng-class="borderOrNoBorder('s', 4)" ng-click="setSelectedLanguage('s', 4)" title="C#">
												<a href="" ui-sref="home">
													<span id="logoForCSharp" class="center" title="C#"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('s', 5)" ng-click="setSelectedLanguage('s', 5)" title="C++">
												<a href="" ui-sref="home">
													<span id="logoForCPlusPlus" class="center" title="C++"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('s', 6)" ng-click="setSelectedLanguage('s', 6)" title="C">
												<a href="" ui-sref="home">
													<span id="logoForC" class="center" title="C"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('s', 7)" ng-click="setSelectedLanguage('s', 7)" title="LaTex">
												<a href="" ui-sref="home">
													<span id="logoForLaTex" class="center" title="LaTex"></span>
												</a>
											</div>
										</div>
										<div flex layout="row" class="center" style="width: 700px; padding: 2px;">
											<div flex class="test" ng-class="borderOrNoBorder('s', 8)" ng-click="setSelectedLanguage('s', 8)" title="BrainFuck">
												<a href="" ui-sref="home">
													<span id="logoForBrainFuck" class="center" title="BrainFuck"></span>
												</a>
											</div>
											<div flex>
											</div>
											<div flex>
											</div>
											<div flex>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</accordion-group>
				</accordion>
				<div layout="row" ng-show="langaugeSelected('s') && !statusStarting.open">
					<div flex>
						<h3 id="header-home"><span class="blackText">Language Selected:</span></h3>
						<span id="{{startingLanguageLogo}}" class="center" title="{{startingLanguage}}"></span>
						<span class="blackText"><b>{{startingLanguage}}</b></span>
						</br><md-button class="md-primary md-hue-1" ng-click="clearLanguage('s')">SELECT DIFFERENT LANGUAGE</md-button>
					</div>
				</div>
				<div layout="row">
					<div flex class="noteBody whitesmokeText center">
						<md-input-container flex>
							<span class="noteBody whitesmokeText center">Try me: a = (2 / (z - 4) + {x^{2^3}} + 1) + 5;</span>
							<label style="color: blue;">Input Code</label>
							<textarea ng-model="conversion.input" style="background-color: white;" columns="1" rows="10" md-maxlength="8000" ng-disabled="!langaugeSelected('s')"></textarea>
						</md-input-container>
					</div>
				</div>
				<hr>
				<accordion close-others="oneAtATime" class="burlywood-background">
					<accordion-group heading="Select a Language" is-open="getStatus('c')" panel-class="panel-alert" layout-align="center center">
						<accordion-heading>
							<md-toolbar class="burlywood-background" ng-click="setStatus('c')">
								<div class="md-toolbar-tools" layout-align="center center">
									<h2 class="md-flex"><b><i class="fa" ng-class="arrowRightDirection(statusConversion.open)"></i>Select Language<i class="fa" ng-class="arrowLeftDirection(statusConversion.open)"></i></b></h2>
								</div>
							</md-toolbar>
						</accordion-heading>
						<section>
							<div layout="row">
								<div flex style="height: 200px !important; overflow-x: scroll; overflow-y: scroll;">
									<div flex layout="column">
										<div flex layout="row" class="center" style="width: 700px; padding: 2px;">
											<div flex class="test" ng-class="borderOrNoBorder('c', 0)" ng-click="setSelectedLanguage('c', 0)" title="Java">
												<a href="" ui-sref="home">
													<span id="logoForJava" class="center" title="Java"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('c', 1)" ng-click="setSelectedLanguage('c', 1)" title="Python">
												<a href="" ui-sref="home">
													<span id="logoForPython" class="center" title="Python"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('c', 2)" ng-click="setSelectedLanguage('c', 2)" title="MathML">
												<a href="" ui-sref="home">
													<span id="logoForMathML" class="center" title="MathML"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('c', 3)" ng-click="setSelectedLanguage('c', 3)" title="Regular Math">
												<a href="" ui-sref="home">
													<span id="logoForRegMath" class="center" title="Regular Math"></span>
												</a>
											</div>
										</div>
										<div flex layout="row" class="center" style="width: 700px; padding: 2px;">
											<div flex class="test" ng-class="borderOrNoBorder('c', 4)" ng-click="setSelectedLanguage('c', 4)" title="C#">
												<a href="" ui-sref="home">
													<span id="logoForCSharp" class="center" title="C#"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('c', 5)" ng-click="setSelectedLanguage('c', 5)" title="C++">
												<a href="" ui-sref="home">
													<span id="logoForCPlusPlus" class="center" title="C++"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('c', 6)" ng-click="setSelectedLanguage('c', 6)" title="C">
												<a href="" ui-sref="home">
													<span id="logoForC" class="center" title="C"></span>
												</a>
											</div>
											<div flex class="test" ng-class="borderOrNoBorder('c', 7)" ng-click="setSelectedLanguage('c', 7)" title="LaTex">
												<a href="" ui-sref="home">
													<span id="logoForLaTex" class="center" title="LaTex"></span>
												</a>
											</div>
										</div>
										<div flex layout="row" class="center" style="width: 700px; padding: 2px;">
											<div flex class="test" ng-class="borderOrNoBorder('c', 8)" ng-click="setSelectedLanguage('c', 8)" title="BrainFuck">
												<a href="" ui-sref="home">
													<span id="logoForBrainFuck" class="center" title="BrainFuck"></span>
												</a>
											</div>
											<div flex>
											</div>
											<div flex>
											</div>
											<div flex>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</accordion-group>
				</accordion>
				<div layout="row" ng-show="langaugeSelected('c') && !statusConversion.open">
					<div flex>
						<h3 id="header-home"><span class="blackText">Language Selected:</span></h3>
						<span id="{{conversionLanguageLogo}}" class="center" title="{{conversionLanguage}}"></span>
						<span class="blackText"><b>{{conversionLanguage}}</b></span>
						</br><md-button class="md-primary md-hue-1" ng-click="clearLanguage('c')">SELECT DIFFERENT LANGUAGE</md-button>
					</div>
				</div>
				<div layout="row">
					<div flex class="noteBody whitesmokeText center">
						<!--<input class="noteBody whitesmokeText center" type="text" name="firstname" ng-disabled="true">-->
						<md-input-container flex>
							<label style="color: red;">Formula</label>
							<textarea ng-model="conversion.mathFormula" style="background-color: white; color: black;" columns="1" rows="2" ng-disabled="true"></textarea>
						</md-input-container>
						<md-input-container flex>
							<span id="formulaDisplay" class="noteBody whitesmokeText center"></span>
							<label style="color: blue;">Output Code</label>
							<textarea ng-model="conversion.result" style="background-color: white; color: black; overflow-y: scroll;" columns="1" rows="10" ng-disabled="true"></textarea>
						</md-input-container>
					</div>
				</div>
				<hr>
				<div layout="row">
					<div flex hide-sm>
					<md-button class="md-primary md-hue-1" ng-click="convert()">Convert</md-button>
					<md-button class="md-primary md-hue-1" ng-click="clearLanguage('a')">Clear</md-button>
					</div>
				</div>
			</div>
			<br />
			<!--
			<md-virtual-repeat-container id="horizontal-container" md-orient-horizontal>
				<div md-virtual-repeat="aLanguage in language" class="repeated-item" flex>
					<div ng-class="borderOrNoBorder('c', aLanguage.id)" ng-click="setSelectedLanguage('c', aLanguage.id)" title="aLanguage.name">
						<a href="" ui-sref="home">
							<span id="{{aLanguage.imageID}}" class="center" title="{{aLanguage.name}}"></span>
						</a>
					</div>
				</div>
			</md-virtual-repeat-container>
			
			<div class="whitesmokeText">
				<h2><b>Add Note</b></h2>
				<h3>Quickly create, edit, and save notes</h3>
			</div>
			<br />
			<div class="whitesmokeText">
				<h2><b>View Notes</b></h2>
				<h3>View, edit, share, favorite, and delete your saved notes</h3>
			</div>
			<br />
			<div class="whitesmokeText">
				<h2><b>Favored Notes</b></h2>
				<h3>View, unfavorite, and share your favorited notes</h3>
			</div>
			<br />
			<div class="whitesmokeText">
				<h2><b>Recycle Bin</b></h2>
				<h3>Recover deleted notes</h3>
			</div>-->
		</section>
	</section>